DEPLOYMENT=development
SITE_URL=https://localhost
BASE_DIR={{ application_path }}
APPLICATION_TITLE={{ application_name }}

DB_NAME={{ db_name }}
DB_USER={{ db_user }}
DB_PASS={{ db_password }}

DEBUG=True
DEBUG_VALUE=True
