
[uwsgi]

# Django-related settings
# the base directory (full path)
chdir           = {{ application_path }}

# Django's wsgi file
module          = mysite.wsgi

# the virtualenv (full path)
home            = {{ virtualenv_path }}
logger = file:{{ application_log_dir }}/uwsgi.log

# process-related settings
# master
master          = true

# maximum number of worker processes
processes       = 3

# the socket (use the full path to be safe
socket          = /tmp/msg.sock
chmod-socket    = 666

# clear environment on exit
vacuum          = true

